VITE_BACKEND_URL=http://localhost:3001
VITE_ALGOD_SERVER_URL=https://testnet-api.algonode.cloud
VITE_ALGORAND_PORT=443
VITE_NEUROCLASS_TREASURY_ADDRESS=HYNRAYO4IGZRBJ6MWZTBIRAOVWQFZODFDQBSJNQNFSP3TRGV5IYOOAZN5A
